
%table#artifacts.header_top
  %tr
    %th.artifact
      Artifact
    %th.deployments
      Deployments
  - if @artifacts.empty?
    %tr
      %td.empty{:colspan=>2}
        You have not created any artifacts yet.
  - else
    - for artifact in @artifacts
      - content_tag_for( :tr, artifact) do
        %td.artifact
          = link_to h(artifact.name), artifact
        %td.deployments
          %ul
            - for deployment in artifact.deployments.deployed
              %li
                = link_to h(deployment.environment.name), deployment.environment
- javascript_tag do
  monitor_content('#{dashboard_path}', 'table#artifacts');
