
%table#environments.header_top
  %tr
    %th.environment
      Environment
    %th.status
      Status
  - if @environments.empty?
    %tr
      %td.empty{:span=>2}
        You have not created any environments yet.
  - else
    - for environment in @environments
      - content_tag_for(:tr, environment) do
        %td.environment
          = link_to h(environment.name), environment
        %td.status
          = render :partial => '/environments/instance_states', :locals => {:environment=>environment}
