= render :partial => "deployments/list", :locals => { :deployments => @deployments, :header_text => "Deployed Applications", :empty_text => "You have no deployments." }
= render :partial => "environments/list", :locals => { :environments => @environments, :header_text => "Running Environments", :empty_text => "You have no running environments." }
