
#dashboard
  #applications
    %h2 Applications
    - for application in @applications
      .application
        .status
          - unless application.deployments.empty? 
            [Running]
        %h3
          = link_to application.name, application
        %ul.deployments
          - for deployment in application.deployments
            %li
              = link_to deployment.environment.name, deployment
    .actions
      = link_to 'Add application', new_app_url 
          
  #environments
    %h2 Environments
    - for environment in @environments
      .environment
        = link_to environment.name, environment
        - if environment.running?
          [Running]
    
