
#dashboard
  #artifacts
    %h2 Artifacts
    - for artifact in @artifacts
      .artifact
        .status
          - unless artifact.deployments.empty? 
            [Running]
        %h3
          = link_to artifact.name, artifact
        %ul.deployments
          - for deployment in artifact.deployments
            %li
              = link_to deployment.environment.name, deployment.environment
    .actions
      = link_to 'Add artifact', new_artifact_url 
          
  #environments
    %h2 Environments
    - for environment in @environments
      .environment
        = link_to environment.name, environment
        - if environment.running?
          [Running]
    
