
#dashboard
  .left_column
    %h2 Artifacts
    = render :partial=>'artifacts'
          
  .center_column
    %h2 Environments
    = render :partial=>'environments'

  .right_column
    = render :partial=>'dashboard_help'
