%instance{:href=>environment_instance_url(instance.environment, instance)}
  %owner=instance.environment.user.email
  %name=instance.image.name
  %image{:href=>environment_image_url(instance.environment, instance.image)}
  = dc_hardware_profile_url(instance)
  %realm=instance.environment.default_realm
  %state= instance.current_state
  %actions
    - if instance.can_stop?
      %link{:rel=>'stop', :href=>stop_environment_instance_url(instance.environment, instance)}
  %public_addresses
    %address= instance.public_address
  %private_addresses
    %address= instance.private_address
