<div class="instances">
  <h2><%= type.capitalize %> nodes</h2>
  <table class="instance-list">
    <tr>
      <th>ID</th>
      <th>Hostname</th>
      <th>Status</th>
    </tr>
    <%= render :partial => 'instance', :collection => filter(@instances, type.to_sym) %>
    <tr>
      <td colspan='3' align="right">
	To create a new instance, click 
      </td>
      <td>
	<%= button_to 'Up', new_instance_path(:image_id => APP_CONFIG["#{type}_image_id"]) %>
      </td>
  </table>
</div>
