%instance{:href=>environment_instance_url(instance.environment, instance), :'proxy-for'=>instance.cloud_instance_url, :id => instance.friendly_id}
  %owner_id=instance.environment.user.email
  %name=instance.name
  %image{:href=>environment_image_url(instance.environment, instance.image), :id=>instance.image.friendly_id}
  = dc_hardware_profile_url(instance)
  %realm{:href=>realm_url(instance.realm), :id=>instance.realm}
  %state= instance.deltacloud_state.upcase
  %actions
    - if instance.can_stop?
      %link{:rel=>'stop', :href=>stop_environment_instance_url(instance.environment, instance), :method => 'POST'}
  %public_addresses
    %address= instance.public_address
  %private_addresses
    %address= instance.private_address
