#environment_images_container
  .box_header
    %h2
      = header_text
  #environment_images_header
    .name
      Name
    .image_id
      Id
    .hardware_profile
      Hardware Profile
    .services
      Services
    .image_status
      Status
    .image_health
      Health
  - instances.each do |instance|
    - div_for(instance, :class=>'image_row') do
      = render :partial => 'instances/row', :locals => { :instance => instance }
    - javascript_tag do
      ="monitor_instance('#{status_environment_instance_path(instance.environment.id, instance.id)}', '##{dom_id(instance)}');"
    - if instances.empty?
      .image_row
        .name
          This environment has no running instances.
