log/*.log
tmp/*
tmp/**/*
public/stylesheets/compiled/*
public/uploads/*
Vagrantfile
.vagrant
config/steamcannon.yml
config/deltacloud-rack.yml
config/*.pem
coverage/*
*.swp
\#*
.#*
*_flymake.rb
.rvmrc
TAGS
.bundle
vendor/bundle
vendor/cache
steamcannon.rails
Capfile
