#sidebar
  %h1
    About Instances...
  :markdown
    ## Running Instances
    
    All instances running under your credentials.

    ## Managed Instances

    All instances managed by this SteamCannon.

    ## Potentially Runaway Instances
