#cloud_instances_index
  .page_header
    %h1 Instances

  .left_column
    #running
      %h2 Running Instances
      = render :partial => 'list', :locals => {:instances => @running_instances, :instance_type => :running, :allow_stop => false}
  
    #managed
      %h2 Managed Instances
      = render :partial => 'list', :locals => {:instances => @managed_instances, :instance_type => :managed, :allow_stop => false}
  
    #runaway
      %h2 Orphaned Instances
      = render :partial => 'list', :locals => {:instances => @runaway_instances, :instance_type => :runaway, :allow_stop => true}
  .right_column
    = render :partial=>'index_help'
