#amazon_credentials_help
  %h3 Amazon Credentials
  %p
    SteamCannon currently supports only the Amazon EC2 public IaaS provider.

  - if @cloud_profile.new_record?
    - unless current_organization.has_cloud_profiles?
      %p 
        You will need to create at least one cloud profile in order to continue. This profile is used when 
        creating environments and artifacts to specify the cloud settings they should use. 
    %p
      To create a cloud profile, you will need to provide us with your Amazon credentials. If you're not sure 
      what that means, login to your Amazon AWS account and read
      = link_to 'this page', 'https://aws-portal.amazon.com/gp/aws/developer/account/index.html?ie=UTF8&action=access-key', :target => '_blank'
      before continuing.
  - else
    %p
      Your Amazon Secret Access Key is not shown, although it has already been set.  
      To find all of your amazon credentials, please read
      #{link_to 'this page', 'https://aws-portal.amazon.com/gp/aws/developer/account/index.html?ie=UTF8&action=access-key', :target => '_blank'}.
  %p
    Make sure you are signed up for the S3 and EC2 services in Amazon AWS. If you recently created your 
    AWS account, it may take up to an hour before your account is fully activated. Until the account is 
    fully activated, this page will report your access credentials as invalid.

