#sidebar
  %h1 Creating a cloud profile
  
  :markdown
    Cloud Profiles define the settings used by environments and artifacts. 
    Currently, only the Amazon EC2 public IaaS provider is supported, but 
    you can specify regions that use different EC2 regions and credentials.

  = render 'amazon_credentials_help'
