#new_cloud_profile
  .page_header
    %h1 Add a New Cloud Profile
  .left_column
    - form_for(@cloud_profile) do |f|
      = f.error_messages
      = render :partial => "form", :object => f
      = f.submit 'Create', :class => "submit"
      = link_to 'Cancel', back_or_default( cloud_profiles_path ), :class => "actionlink"
  .right_column
    =# render :partial=>'form_new_help'

