#platform_form
  - field_set_tag "Platform Info" do 
    =f.label :name
    =f.text_field :name
  
    = link_to 'Add Another Version', '#platform_version', :class=>'add_nested_item', :rel=>"#versions"
    - field_set_tag "Versions", :id=>'versions' do
      - f.object.platform_versions.build if f.object.platform_versions.blank?
      - f.fields_for :platform_versions do |version|
        =javascript_tag "var platform_version='#{generate_template(f, :platform_versions)}'"
        =render :partial => 'platform_version', :locals=>{:f=>version}
      
= javascript_include_tag 'platform_form'
