.image
  =f.label :name
  - unless f.object.new_record?
    \|
    = remove_link_unless_new_record(f, "Delete this image")
  %br
  =f.text_field :name
  %br
  =f.label :uid
  %br
  =f.text_field :uid
  