#platforms
  %h2 New Platform
  .platform
    - form_for object, :url => platforms_path do |f|
      = f.error_messages
      = render :partial => "form", :locals => { :f => f }
      = f.submit "Create"

%p{:style=>'clear:both'}
  = link_to 'Back', :back
