%artifact_version{:href=>artifact_artifact_version_url(version.artifact, version), :id=>version.id}
  %version_number=version.version_number
  %archive_file_name=version.archive_file_name
  %created_at=version.created_at
  %current_state=version.current_state
  %actions
    - unless version.is_deployed?
      %link{:href=>artifact_artifact_version_url(version.artifact, version, :_method=>:delete), :rel=>'delete'}

    - current_user.environments.each do |environment|
      %link{:href=>environment_deployments_url(environment, :artifact_version_id=>version.id), :rel=>'deploy'}
