#artifact_versions_container
  - if artifact_versions.empty?
    .empty
      You have not added any versions yet
  - else
    - artifact_versions.each do |artifact_version|
      = render 'artifact_versions/row', :artifact_version => artifact_version

          
