%artifact_versions{:href=>artifact_artifact_versions_url(@artifact)}
  - @artifact_versions.each do |version|
    = render :partial => 'artifact_versions/artifact_version', :locals=>{:version=>version}
