@mixin list_container {
  @include clearfix;
  @include rounded(5px);
  -moz-box-shadow: 0 1px 3px #CCCCCC;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  font-size: 12px;
  text-align: left;
  padding: 15px;
  margin: 5px 0 15px 0;

  h2 {
    color: #4B5D63;
    font-size: 1.5em;
    letter-spacing: -0.02em;
    margin: 0 0 15px;
    padding: 0;
  }

  .actionlink {
    padding-left: 0;
  }
}

@mixin list_header {
  @include clearfix;
  border-bottom: 2px solid #6695AF;
  color: #01293A;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 0px;
}

@mixin list_row {
  @include clearfix;
  border-bottom: 1px solid #EAEAEA;
  padding: 6px 0px;
  color: #678C99;
}
