.postgresql_details
  Details for the PostgreSQL service:
  %ul
    %li
      %label
        Admin user: 
      #{instance_service.environment.metadata[:postgresql_admin_user][:user]}
    %li
      %label
        Admin password: 
      #{instance_service.environment.metadata[:postgresql_admin_user][:password]}
    %li
      %label
        External hostname: 
      #{instance_service.instance.public_address}
    %li
      %label
        Internal hostname: 
      #{instance_service.internal_hostname}
    %li
      %label
        Port: 
      5432

    
