/ 
  SteamCannon API 
  = "Version #{steamcannon_api_version}"
%api{:version=>steamcannon_api_version}
  %link{:rel=>'environments', :href=>environments_url}
  %link{:rel=>'artifacts', :href=>artifacts_url}
  %link{:rel=>'cloud_profiles', :href=>cloud_profiles_url}
  %link{:rel=>'platforms', :href=>platforms_url}
