%h1 Edit Your Profile
.dcloud_form
  - form_for @user, :url => account_path do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    = f.submit "Update Account"

%p
  = link_to 'Back', :back
