#show_user
  .page_header
    .actions
      = link_to('Edit', edit_account_path)
    %h1
      Account
    %h2 
      &= @user.email

  %p
    %b Email:
    &= @user.email
  %p
    %b Organization:
    &= @user.organization

  
