
$bar_background_color: #dddddf;

$color_dark: #000000;
$color_light: #999999;
$color_mid: #444444;

$text_color: #333;

$link_color:       #777777;
$link_hover_color: #777777;

$page_header1_color: #99B2B7 - #444;
$page_header2_color: #948C75;

$content_header2_color: #99B2B7 - #333;
$content_header3_color: #D9CEB2 - #333;

$sidebar_header1_color: #777;
$sidebar_header2_color: #777;

$major_accent_color: #C28600;
$minor_accent_color: $major_accent_color - #420;

$separator_color: black;

$navigation_color: black;
$navigation_hover_color: black;
$navigation_selected_color: black;

$form_input_border_color: black;
$form_input_background_color: white;

$table_header_border_color: black;

$green: #78752c;
$red: #6b2c2c;

$highlight_color: #ffffdd;
$failure_color: #993333; 











//$color_dark: #4A5D74;
//$color_dark: #2B435A;
//$color_mid: #777777;
//$color_mid: #586F8A;
//$color_light: #9FA65F;
//$color_light: #C28600;
//$page_title_color: #897F64;

//$link_color:         $color_dark;
//$link_visited_color: $color_dark;
//$link_hover_color:   $color_dark + #222;
