#apps_container {
  @include column(22, true);
  @include list_container;

  #apps_header {
    @include list_header;
  }

  .app_row {
    @include list_row;
  }

  .app_name {
    @include column(4);
  }

  .app_latest_version {
    @include column(4);
  }

  .app_deploy {
    @include column(2);
  }

  .app_edit {
    @include column(2);
  }

  .app_delete {
    @include column(2, true);
  }
}


#show_application {
  .edit {
    float: right;
  }
  h2 {
    font-size: 180%;
    font-weight: bold;
  }

}
 
