#artifacts_container {
  @include column(22, true);
  @include list_container;

  #artifacts_header {
    @include list_header;
  }

  .artifact_row {
    @include list_row;
  }

  .artifact_name {
    @include column(4);
  }

  .artifact_latest_version {
    @include column(4);
  }

  .artifact_deploy {
    @include column(2);
  }

  .artifact_edit {
    @include column(2);
  }

  .artifact_delete {
    @include column(2, true);
  }
}


#show_artifact {
  .edit {
    float: right;
  }
  h2 {
    font-size: 180%;
    font-weight: bold;
  }

}
 
