#environments_container {
  @include column(22, true);
  @include list_container;

  #environments_header {
    @include list_header;
  }

  .environment_row {
    @include list_row;
  }

  .environment_name {
    @include column(6);
  }

  .environment_platform {
    @include column(6);
  }

  .environment_status {
    @include column(3);
  }

  .environment_action {
    @include column(2);
  }

  .environment_edit {
    @include column(2);
  }

  .environment_delete {
    @include column(2, true);
  }
}

#environment_images_container {
  @include column(22, true);
  @include list_container;

  #environment_images_header {
    @include list_header;
  }

  .image_row {
    @include list_row;
  }

  .name {
    @include column(7);
  }

  .hardware_profile {
    @include column(5);
  }

  .cloud_url {
    @include column(10);
  }

  .num_instances {
    @include column(5);
  }

  .image_actions {
    @include column(4, true);
  }
}

#show_environment {
  @include clearfix;
  h2 {
    font-size: 180%;
    font-weight: bold;
  }
  #actions {
    @include clearfix;
  }
  #actions .edit {
    float: right;
    padding-left: .5em;
    padding-right: .5em;
  }
  #deployments {
    @include clearfix;
  }
  #instances {
    @include clearfix;
  }
  #deployments_container {
    @include column(23);
    margin-left: 0;
    .deployment_app {
      @include column(7);
    }
    .deployment_environment {
      @include column(4);
    }
    .deployment_status {
      @include column(2);
    }
    .deployment_health {
      @include column(2);
    }
    .deployment_visit {
      @include column(4);
    }
  }
  #environment_images_container {
    @include column(23);
    .hardware_profile {
      @include column(4);
    }
    .image_status {
      @include column(2);
    }
    .image_health {
      @include column(2);
    }
    .image_logs {
      @include column(4);
    }
    .box_header {
      @include clearfix;
      h2 {
        float: left;
      }
      #start_another {
        float: right;
      }
    }
  }
}
