#platforms {
  h2 {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .platform_row {
    display: block;
    clear: both;
  }
  .platform {
    @include column(7.3);
    @include list_container;
    padding: 10px;
    margin-right: 10px;
    .actions {
      margin-top: 20px;
      font-size: smaller;
      text-align: right;
    }
    .platform_image {
      margin: 10px 6px;      
      padding-left: 4px;
      border-left: 1px solid #ccc;
    }
    #platform_form {
      input[type=text] { width: 220px; }
      margin: 10px;
      fieldset {
        margin-bottom: 10px;
      }
      .platform_version, .image {
        margin: 10px 0 10px;
        padding-bottom: 10px;
      }
      #versions {
        margin-top: 30px;
        padding-top: 10px;
      }
    }
  }
}
