@import "compass/utilities/general/clearfix";

$bar_background_color: #dddddf;

$color_dark: #2B435A;
$color_light: #C28600;
$page_title_color: #897F64;

$link_color:         $color_dark;
$link_visited_color: $color_dark;
$link_hover_color:   $color_dark + #222;

a {
  text-decoration: none;
  color: $link_color;

  &:hover {
    color: $link_hover_color;
  }
}

.page_header {
  margin-bottom: 2em;
  h1 {
    font-size: 200%;
    font-weight: bold;
    color: $color_light;
    margin-bottom: 0;
    line-height: 1.2em;
  }
  h2 {
    font-size: 140%;
    font-weight: bold;
    color: $color_light - #555;
  }
  .actions {
    float: right;
    a {
      margin-left: 1em;
      font-weight: bold;
    }
  }
}

h2 {
  font-weight: bold;
  font-size: 140%;
  margin-bottom: .3ex;
  color: $color_light - #555;
}

h3 {
  font-size: 110%;
  font-weight: bold;
  margin: 0;
}

#top-links {
  font-size: 90%;
  font-weight: bold;
  margin: 1ex 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline;
    margin: 0;
    padding: 0 1ex;
  }
}

#header-bar {
  padding-top: 1em;
  padding-bottom: 1ex;
  margin-bottom: 1ex;
  background-color: $bar_background_color;
  border-bottom: 1px solid $bar_background_color - #333; 
  border-top: 1px solid $bar_background_color - #333; 
}


#footer-bar {
  padding-top: .2em;
  padding-bottom: .2em;
  background-color: $bar_background_color;
  border-bottom: 1px solid $bar_background_color - #333; 
  border-top: 1px solid $bar_background_color - #333; 
}

#content {
  margin-bottom: 4em;
}

#footer {
  font-size: 80%;
  color: $bar_background_color - #777;
}

#main-navigation {
  font-size: 120%;
  border-bottom: 1px solid $bar_background_color;
  margin-bottom: 1em;
  ul.nav {
    list-style-type: none;
    margin: 0px;
    li {
      display: inline;
      margin: 0px;
      margin-right: 1em;
      padding: 0px;
      a {
        font-weight: bold;
        color: $color_dark;
        &:hover {
          color: $color_light - #333;
        }
        &.selected {
          color: $color_light;
        }
      }
    }
  }
}

form {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 1em 0;
      padding: 0;
      label {
        font-weight: bold;
        display: block;
        margin: 0;
        padding: 0;
      }

      input, textarea {
        border: 1px solid $color_light;
        background-color: #f0f0f0;
      }
    }
  }
}


.tabular {
  margin-bottom: 1em;
  .header {
    border-bottom: 1px solid $color_dark;
    margin-bottom: 1ex;
    div {
      font-weight: bold;
    } 
    @include clearfix;
  }
  .row {
    @include clearfix;
  }
  @include clearfix;
}

#artifact_versions_container {
  .row {
    .version_number {
      text-align: center;
    }
  }
}

#environment_instances_container  {
  font-size: 90%;
  .services {
    ul {
      margin: 0;
      list-style-type: none;
      li {
        margin: 0;
      }
    }
  }
}

#artifacts_container {
  .latest_version {
    text-align: center;
  }
  .header .latest_version {
    text-align: left;
  }
}

#show_environment {
  .page_header {
  }
  #topology {
    table {
      border-collapse: collapse;
      tr {
        width: 100%;
      }
      td {
        vertical-align: top;
        padding: .3ex;
        padding-left: .8ex;
        border: 1px solid #eee;
      }
      font-size: 90%;
      width: 100%;
      .summary {
        width: 12em;
        .name, .current_state {
          font-weight: bold;
        }
        .current_state {
          color: $color_light;
        }
      }
      .services {
        .current_state {
          color: $color_light;
          font-weight: bold;
        }
        ul {
          margin: 0;
          list-style-type: none;
          li {
            margin: 0;
          }
        }
      }
      .actions {
        width: 8em;
      }
    }
  }
  #deployments {
    .deployment {
      .actions {
        float: right;
      }
      font-size: 90%;
      border-bottom: 1px dashed $color_dark;
      .name {
        font-weight: bold;
      }
      .status {
        color: $color_light;
        font-weight: bold;
        ul {
          margin: 0;
          padding: 0;
            list-style-type: none;
          li {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

#show_artifact {

  .description {
    margin: 1em;
    padding: 1em;
    border: 1px solid $color_light;
    font-size: 80%;
  }

  #artifact_versions_container {
    .artifact_version {
      border-bottom: 1px dashed $color_dark;
      padding: 1ex 0;
      margin-bottom: 1ex;
      .version_number {
        margin: 0 1ex 1ex 0;
        font-weight: bold;
        font-size: 200%;
        float: left;
      }
      .created_at {
        font-size: 90%;
        font-weight: bold;
      }
      .actions {
        font-size: 90%;
      }
    }
  }

  #deployments_container {
    .deployment {
      margin-bottom: 1em;
      .actions {
        float: right;
      }
    }
  }
}

.start_another { float: right; }
.start_another_dialog {
  display: block; 
  padding: 10px 15px 20px;
  margin: 0 0 10px 0;
  width: 210px;
  border: 6px solid #ccc;
  position: relative;
  z-index: 10;
  top: 0px;
  left: 658px;
  background-color: #fff;
  input[type=text] {
    width: 150px;
  }
  p {
    margin: 0 0 15px;
  }
  .close {
    float: right;
    display: inline;
    padding: 2px 4px;
    border: 5px solid #ccc;
    background-color: #eee;
    position: relative;
    top: -28px;
    right: -18px;
    a {
      text-decoration: none;
    }
  }
}

#sidebar {
  h1 {
    color: $color_light;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1ex;
    padding-bottom: .5ex;
    border-bottom: 1px solid $color_light;
  }
}

table.header_top {
  width: 100%;
  th {
    font-weight: bold;
    color: $color_dark;
    border-bottom: 1px solid $color_dark;
  }
}

#cloud_instances_index {
  table.cloud_instances {
    .instance_id {
      width: 40%;
    }
  }
}
