$bar_background_color: #dddddf;

#header-bar {
  padding-top: 1em;
  padding-bottom: 1ex;
  margin-bottom: 1ex;
  background-color: $bar_background_color;
  border-bottom: 1px solid $bar_background_color - #333; 
  border-top: 1px solid $bar_background_color - #333; 
}


#footer-bar {
  padding-top: .2em;
  padding-bottom: .2em;
  margin-bottom: 3em;
  background-color: $bar_background_color;
  border-bottom: 1px solid $bar_background_color - #333; 
  border-top: 1px solid $bar_background_color - #333; 
}

#main-navigation {
  font-size: 120%;
  ul.nav {
    list-style-type: none;
    li {
      display: inline;
      margin: 0px;
      margin-right: 1ex;
      padding: 0px;
      a {
        text-decoration: none;
        font-weight: bold;
        color: #555;
        &.selected {
          color: #933;
        }
      }
    }
  }
}
