%table.event_tree
  - events.each do |event|
    %tr
      %td.event{:class => "indent-#{event.event_subject.depth}"}
        = formatted_event(event)
      %td.timestamp
        = formatted_event_timestamp(event)
      
