# Required, url of the deltacloud-core server
#deltacloud_url:  http://localhost:8080/deltacloud/api

# Required, used to encrypt private keys stored in the db. If you change this 
# after launching SteamCannon, your CA and client certificates become unuseable.
# If never set, then the keys will be stored unecrypted.
#certificate_password: my-secret

# Optional, defaults to true. Determines whether SteamCannon will use ssl 
# (and client cert authentication) when talking to the agents. Useful only
# in development mode.
#use_ssl_with_agents: true

# Optional, defaults to false. Determines whether SteamCannon requires ssl
# for the web interface.
#require_ssl_for_web: false

# Optional, defaults to open_signup. Options are:
# * open_signup: any user can create an account 
# * invite_only: people can request an account, which goes in to a queue 
#   managed by any SteamCannon admin account.
#signup_mode: open_signup

## The remaining options are currently only useful in invite_only signup mode 
## (see above).

# Required in invite_only mode. Each account request that is created will send
# a notification to this address.
#account_request_notification_address: admin@example.com

# Optional, defaults to the email of the current user. 
#default_reply_to_address: email@example.com

