# Required, url of the deltacloud-core server
#deltacloud_url:  http://localhost:8080/deltacloud/api

# Required, used to encrypt private keys stored in the db. If you change this 
# after launching SteamCannon, your CA and client certificates become unuseable.
# If never set, then the keys will be stored unecrypted.
#certificate_password: my-secret


