%environment{:href=>environment_url(environment)}
  %name=environment.name
  %owner=environment.user.email
  %created=environment.created_at
  %updated=environment.updated_at
  %current_state=environment.current_state
  %preserve_storage_volumes=environment.preserve_storage_volumes?
  - cloud = environment.cloud_profile
  - if cloud
    %cloud_profile{:href=>cloud_profile_url(cloud)}
      %cloud_name=cloud.cloud_name
      %provider=cloud.provider_name
      %name=cloud.name
      %artifacts_bucket=cloud.cloud_specifics.artifact_bucket_name
      %clustering_bucket=cloud.cloud_specifics.environment_bucket_name
  %deployments{:href=>environment_deployments_url(environment)}
    - environment.deployments.each do |deployment|
      %link{:href=>environment_deployment_url(environment, deployment), :rel=>'deployment'}
  %metadata
    =environment.metadata
  %actions
    - if environment.running?
      %link{:rel=>'stop', :href=>stop_environment_url(environment)}
    - else
      %link{:rel=>'start', :href=>start_environment_url(environment)}
    %link{:rel=>'clone', :href=>clone_environment_url(environment)}
    %link{:rel=>'delete', :href=>environment_url(environment, :_method=>:delete)}

  %link{:rel=>'deltacloud_endpoint', :href=>deltacloud_environment_url(environment)}

