#sidebar
  %h1 Setting up an environment

  :markdown
    You may set up as many environments as you need to
    organize your own development process.  An environment
    is a discrete, named instance of a PaaS which may be
    started or stopped as a whole.  In traditional terms,
    an environment encapsulates a cluster of application
    servers, a load-balancer, a database, and other
    services required by your applications.

    When initially created, an environment is *not*
    running, and consumes no resources.  You may
    adjust the number of desired instances for each tier
    at any time.

    You may even change the platform for an environment
    at a later point in time.
