#sidebar
  %h1 Configuring an environment

  :markdown
    You may adjust the number of desired instances for each tier
    at any time.  You may change the platform for an environment,
    which will take effect the next time the environment is
    launched.
