#sidebar
  %h1 About Environments...
  :markdown
    An *environment* constitutes a named instance of
    a platform.  Common strategies include creating an
    environment for each developer, one for QA, one for
    staging, one for production.

    The number of environments is limited only by the
    amount of resources available from the cloud provider.
