%api{:driver=>@environment.user.cloud.name, :version=>'1.0'}
  / 
    Deltacloud endpoint for SteamCannon environment
  %link{:rel=>'hardware_profiles', :href=>environment_hardware_profiles_url(@environment)}
  %link{:rel=>'instance_states', :href=>instance_states_environment_url(@environment)}
  %link{:rel=>'realms', :href=>environment_realms_url(@environment)}
  %link{:rel=>'images', :href=>environment_images_url(@environment)}
  %link{:rel=>'instances', :href=>environment_instances_url(@environment)}

