.dcloud_form
  %h2
    Edit Environment
  - form_for(@environment) do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    = f.submit 'Save', :class => "submit"
  %p
    = link_to 'Cancel', back_or_default(environments_url), :class => "actionlink"
