#environments_index
  = render :partial => "list", :locals => { :environments => @environments, :header_text => "Environments", :empty_text => "You have no environments.", :action_link => (link_to 'Create New Environment', new_environment_path, :class => "actionlink") }
