#environments_index
  .page_header
    .actions 
      = link_to '+ Create New Environment', new_environment_path
    %h1 Environments
  .left_column
    = render :partial => "list", :locals => { :environments => @environments } 
  .right_column
    = render :partial => 'index_help'
