%states{:'proxy-for'=>current_user.cloud.instance_states_url}
  - @instance_states.each do |k,v|
    %state{:name=>k.to_s}
      - transition = @instance_states[k][:transition]
      - if transition
        %transition{:action=>transition[:action], :to=>transition[:to]}
