%environment{:href=>environment_url(@environment)}
  %name=@environment.name
  %owner=@environment.user.email
  %created=@environment.created_at
  %updated=@environment.updated_at
  %current_state=@environment.current_state
  %preserve_storage_volumes=@environment.preserve_storage_volumes?
  %metadata
    =@environment.metadata
  %link{:rel=>'deltacloud_endpoint', :href=>deltacloud_environment_url(@environment)}

