%environment{:href=>environment_url(@environment)}
  %name=@environment.name
  %owner=@environment.user.email
  %created=@environment.created_at
  %updated=@environment.updated_at
  %current_state=@environment.current_state
  %preserve_storage_volumes=@environment.preserve_storage_volumes?
  %artifacts
    - @environment.artifacts.each do |artifact|
      %artifact{:name=>artifact.name}
        %created=artifact.created_at
        %updated=artifact.updated_at
        %description=artifact.description
        %service=artifact.service.full_name
  %metadata
    =@environment.metadata
  %actions
    - if @environment.running?
      %link{:rel=>'stop', :href=>stop_environment_url(@environment)}
    - else
      %link{:rel=>'start', :href=>start_environment_url(@environment)}
    %link{:rel=>'clone', :href=>clone_environment_url(@environment)}

  %link{:rel=>'deltacloud_endpoint', :href=>deltacloud_environment_url(@environment)}

