<h1>Deploy Your App!</h1>

<% form_for(@app, :multipart => true) do |f| %>
  <%#= f.error_messages %>

  <p>
    <%= f.label :archive %>
    <%= f.file_field :archive %>
  </p>
  <p>
    <%= f.submit 'Deploy' %>
  </p>
<% end %>

