%h2
  &= @app.name

%br
%p
  &= @app.description
%br

%h3
  Versions
= render :partial => "app_versions/list", :locals => { :app_versions => @app.app_versions, :empty_text => "This application has no versions." }

%p
  = link_to 'Create New Version', new_app_version_path(:app_id => @app.id)