
<%= render :partial => 'apps', :object => [@app] %>

<div id="summary" class="striped">
  <%= render :partial => 'instances/summary', :object => Instance.all %>
</div>

<script type="text/javascript">
  $(function() {
    monitor_changing("tr.changing");
    cluster_status();
    <% if flash[:redeploy] %>
    redeploy_staged("tr.staged");
    <% end %>
  });
  function cluster_status() {
    if ($('#cluster').is('.pending')) {
      setTimeout(function() {
        $.get("/instances", function(data) {
          $("#summary").html(data);
          cluster_status();
        });
      }, 5000);
    }
  }
</script>
