%deployment{:href=>environment_deployment_url(@environment, deployment)}
  %environment{:href=>environment_url(@environment), :rel=>"environment"}
  - unless deployment.artifact.blank?
    %artifact{:href=>artifact_artifact_version_url(deployment.artifact, deployment.artifact_version)}
  %name=deployment.simple_name
  %current_state=deployment.current_state
  %datasource=deployment.datasource 
  %actions
    - if deployment.deployed?
      %link{:href=>undeploy_environment_deployment_url(@environment, deployment), :rel=>'undeploy'}
    - else
      %link{:href=>environment_deployment_url(@environment, deployment, :_method=>'delete'), :rel=>'delete'}
