#sidebar
  %h1 Deploying an artifact

  :markdown
    Deploying an artifact to an environment will provide
    the instances in the environment with the artifact,
    and put it in the right place.

    You can only deploy a version of an artifact that does
    not already have a version of that same artifact deployed.
    If you do want to deploy an already deployed artifact, you
    will need to first undeploy the other version.

    You can only deploy artifacts that are in the same environment
    that you are deploying to.

    
