= form.label :artifact_version, "Artifact Version"
%br
= form.select :artifact_version_id, deployment_artifact_versions_for_select
%br
%br
= form.label :environment
%br
= form.select :environment_id, environments_with_status_for_select
%br
/%br
/= form.label :datasource
/%br
/= form.radio_button :datasource, "local"
/Local
/%br
/= form.radio_button :datasource, "cloud"
/Cloud
/%br
%br
