#deployments_container
  - if deployments.empty?
    .empty
      No current deployments
  -else
    - deployments.each do |deployment|
      - div_for( deployment ) do
        .actions
          - if deployment.is_deployed?
            = link_to 'Undeploy', deployment, :method => :delete, :confirm => "Are you sure you want to undeploy this artifact?"
          - else
            .current_state
              = deployment_state(deployment)
        %h3.environment
          = link_to h(deployment.environment.name), environment_path(deployment.environment)
        .artifact
          = link_to h(deployment.artifact_version.to_s), artifact_path(deployment.artifact_version.artifact)
