= render :partial => "list", :locals => { :deployments => @deployments, :header_text => "Deployments", :empty_text => "You have no deployments." }
%p
  = link_to 'Create New Deployment', new_deployment_path
