.dcloud_form
  %h2
    Deploy Artifact
  - form_for(@deployment) do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    = f.submit 'Deploy', :class => "submit"
  %p
    = link_to 'Cancel', :back, :class => "actionlink"
