%artifact{:href=>artifact_url(artifact), :id=>artifact.id}
  %name=artifact.name
  - artifact.artifact_versions.each do |version|
    %artifact_version{:href=>artifact_version_url(version), :id=>version.id}
      - version.deployments.each do |deployment|
        %deployment{:href=>environment_deployment_url(deployment.environment, deployment)}
