%artifact{:href=>artifact_url(artifact), :id=>artifact.id}
  %name=artifact.name
  - unless artifact.is_deployed?
    %actions
      %link{:href=>artifact_url(artifact, :_method=>:delete), :rel=>'delete'}
  - artifact.artifact_versions.each do |version|
    %artifact_version{:href=>artifact_artifact_version_url(artifact, version), :id=>version.id}
      - version.deployments.each do |deployment|
        %deployment{:href=>environment_deployment_url(deployment.environment, deployment)}
