#sidebar
  %h1 Creating a new artifact

  :markdown
    An *artifact* is an item that you can deploy to one of 
    your environments. Artifacts are versioned, so you can 
    maintain multiple versions of the same artifact.

    The *cloud profile* you select here determines the
    cloud settings this artifact will use. These settings
    specify the cloud type, the cloud provider/region, and
    the cloud credentials. Once an artifacst is created,
    you will not be able to choose a different cloud profile
    for the artifact. You will only be able to deploy the
    artifact to environments using the same cloud profile.


    
