#sidebar
  %h1
    About Artifacts...
  :markdown
    An *artifact* is any item that constitutes your
    application that might be dropped onto the
    environment to start or configure some service.
