#edit-artifact
  .page_header
    %h1
      Edit Artifact
  - form_for(@artifact, :html => {:multipart => true}) do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    = f.submit 'Save', :class => "submit"
    = link_to 'Cancel', :back, :class => "actionlink"
