#artifacts_index
  .page_header
    %h1 Artifacts
  = render :partial => "list", :locals => { :artifacts => @artifacts, :header_text => "Artifacts", :empty_text => "You have no artifacts.", :action_link => (link_to 'Add Artifact', new_artifact_path, :class => "actionlink") }
