.header_logo
  %span CloudEngine PaaS
  %ul.nav
    %li 
      =link_to 'Dashboard'
    %li
      =link_to 'Instances'
    %li
      =link_to 'Templates'
    %li.selected
      =link_to 'PaaS'
    %li
      =link_to 'Settings'

.header_info
  #hi-username
    = link_to @current_user.email, account_path unless @current_user.nil?
  = link_to 'Log out', user_session_path, :method => :delete unless @current_user.nil?
  = link_to 'Log in', new_user_session_path if @current_user.nil?

