%ul#top-links
  %li 
    = link_to 'SteamCannon.org', 'http://steamcannon.org/'
  %li 
    = link_to 'Blog', 'http://steamcannon.org/news'
  %li 
    = link_to 'Community', 'http://steamcannon.org/community'
